[submodule "terraform-aws-deadline-db"]
	path = modules/terraform-aws-deadline-db
	url = ../terraform-aws-deadline-db.git
	branch = dev
[submodule "terraform-aws-render-vpc"]
	path = modules/terraform-aws-render-vpc
	url = ../terraform-aws-render-vpc.git
[submodule "modules/terraform-aws-node-houdini"]
	path = modules/terraform-aws-node-houdini/module
	url = ../terraform-aws-node-houdini.git
