[submodule "terraform-aws-deadline-db"]
	path = modules/terraform-aws-deadline-db
	url = ../terraform-aws-deadline-db.git
	branch = dev
[submodule "terraform-aws-render-vpc"]
	path = modules/terraform-aws-render-vpc
	url = ../terraform-aws-render-vpc.git
[submodule "modules/terraform-aws-node-houdini"]
	path = modules/terraform-aws-node-houdini/module
	url = ../terraform-aws-node-houdini.git
[submodule "modules/terraform-aws-user-data-rendernode/module/modules/aws-ec2-user-data-scripts"]
	path = modules/terraform-aws-user-data-rendernode/module/modules/aws-ec2-user-data-scripts
	url = https://github.com/firehawkvfx/aws-ec2-user-data-scripts.git
[submodule "modules/terraform-aws-sqs-deadline-client/main/modules/firehawk-auth-scripts"]
	path = modules/terraform-aws-sqs-deadline-client/main/modules/firehawk-auth-scripts
	url = https://github.com/firehawkvfx/firehawk-auth-scripts.git
